# OWLH MASTER UI

cd /tmp
mkdir -p /var/www/owlh
mkdir -p /tmp/owlhui

apt-get install -y apache2 libapache2-mod-php
a2enmod ssl
cat > /etc/apache2/sites-available/owlh.conf <<\EOF
<VirtualHost *:80>
   ServerName master.owlh.net
   Redirect / https://localhost/
</VirtualHost>

<VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile /usr/local/owlh/src/owlhmaster/conf/ca.crt
        SSLCertificateKeyFile /usr/local/owlh/src/owlhmaster/conf/ca.key
        <Directory /var/www/owlh>
           Header set Access-Control-Allow-Origin "*"
           DirectoryIndex index.html index.php
           AllowOverride All
        </Directory>
        DocumentRoot /var/www/owlh-sum
        ServerName master.owlh.net
</VirtualHost>
EOF
sudo ln -s /etc/apache2/sites-available/owlh.conf /etc/apache2/sites-enabled/owlh.conf
systemctl restart apache2
